<div class="container">
  <div class="ingredient-block">
    <app-ingredient-item *ngFor="let ingredient of ingredientsArray; let i = index"
                         [ingredient] = "ingredient"
                         (add)="addItem(i)"
                         (delete)="deleteItem(i)">

    </app-ingredient-item>
  </div>
  <div class="icon-block">
    <div class="Burger">
      <div class="BreadTop">
        <div class="Seeds1"></div>
        <div class="Seeds2"></div>
      </div>
      <div *ngFor="let topping of toppingArray" [ngClass]="topping"></div>
      <div class="BreadBottom"></div>
    </div>
    <p>Price: {{ price }}</p>
  </div>
</div>
