<div class="container">
  <img (click)="addIngredient()"  [src]="ingredient.icon"
       alt=" {{  ingredient.name}}" width="100px" height="100px">
  <p><strong>{{ ingredient.name }}</strong></p>
  <span>x{{ ingredient.amount }}</span>
  <button [disabled]="ingredient.amount === 0" (click)="deleteIngredient()" class="delete">X</button>
</div>
